<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body {% if site.darkmode == true and site.darkmode != 'never' %}class="dark"{% endif %}>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      kek
    </div>
  </main>

  {%- include footer.html -%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
          integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
</body>

</html>
