<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body {% if site.darkmode == true and site.darkmode != 'never' %}class="dark"{% endif %}>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="container intro-container">
        <h3>Трансфер Starlink</h3>
        <div class="row clearfix">
          <div class="col-md-12">
            <p style="color: red;">
              <b>Вся нижченаведена інформація не є єдиним способом перенесення терміналів Starlink але гарантує довге і безпроблемне використання. Все нижченаписане є лише особистим досвідом автора і може змінюватися з часом.</b>
            </p>
            <p>
              Трансфер Starlink відбуваєтсья у два етапи: спочатку термінал має бути відв'язаний з акаунта власника, потім його треба оформити новому власнику.
              Перед початком трансферу треба впевнетися, що на акаунті поточного власника немає боргів інакше відв'язати термінал з акаунта буде неможливо.
              Необхідно перебувати в безпечному місці, мати резервний канал інтернету і мати можливість запустити термінал Starlink під відкритим небом. Процедура зазвичай займає до 30 хвилин часу.
            </p>
            <b>
              <p>Перед відвʼязкою терміналу обовʼязково треба записати ідентифікатори термінала! У випадку збою це буде єдиний доказ володіння!</p>
            </b>
            <h3>Відвʼязка терміналу Starlink з акаунта</h3>
            <ul>
              <li>Записуємо номер кіта, його можно знайти на коробці від терміналу або в акаунті до якого привʼязаний термінал Starlink у форматі KITXXXXXXXXX</li>
              <li>Записуємо серійний номер тарілки, він розташований на нижній частині мачти тарілки, виглядає приблизно SN: 2ABC000000000000</li>
              <li>Записуємо Terminal ID, його можна знайти підключившись до Wi-Fi Starlink який ви будете трансферити. Далі заходимо в додаток Starlink н телефоні, далі Settings -> Advanced -> в секції STARLINK записуємо цифри ID, які починаються з ut</li>
              <li>Заходимо в особистий кабінет <a target="_blank" href="https://starlink.com">starlink.com</a>, знаходимо старлінк який будемо відвʼязувати, тиснемо Manage</li>
              <li>
                <b>Знаходимо на сторінці номер кіта у форматі КІТХХХХХХХ і перевіряємо що він збігається з тим що ви записали раніше</b>
              </li>
              <li>Натискаємо CANCEL SERVICE(у деяких випадках такої кнопки може і не бути, тоди просто пропускаємо цей і наступний пункти)</li>
              <li>У списку причин обираємо I want to transfer my Starlink тиснемо CONFIRM</li>
              <li>Після попреднього пункту кнопка TRANSFER має стати активною, тиснемо на неї, зʼявиться вікно підтвердження, погоджуємося.</li>
              <li>Старлінк успішно відвʼязаний</li>
            </ul>
            <h3>Привʼязка терміналу Starlink до акаунту нового власника</h3>
            <p>Перед початком будь ласка впевніться в наявності резервного каналу інтернету.</p>
            <p>На момент написання для України підходить лише тариф ROAM(Mobile) бо у тарифі Residential переміщення терміналу призведе до відключення інтернету.</p>
            <p>
              <b>Термінал можна "привʼязати" як до існуючого акаунта так і до нового.</b>
            </p>
            <ul>
              <li>
                Переходимо за адресою <a target="_blank" href="http://starlink.com/activate">starlink.com/activate</a>
              </li>
              <li>
                <p>Вводимо ідентифікатор терміналу записаний раніше у форматі <b>KITXXXXXXXXX</b></p>
                <p><img src="{{ '/assets/activate.png' | relative_url }}" alt="activate starlink"></p>
              </li>
              <li>
                <p>Якщо ви хочете створити новий акаунт - тиснемо NEW ACCOUNT</p>
                <p>Якщо ви хочете використовувати існуючий акаунт - тиснемо EXISTING ACCOUNT</p>
              </li>
              <li>
                <h2>NEW ACCOUNT</h2>
                <ul>
                  <li>
                    <p>
                      Вас перенаправить на сторінку вводу адреси, для тарифа ROAM адреса не має великого значення, але бажано не вказувати адресу поблизу зони бойових дій. Щоб не заморочуватись вводимо "вул Степана Бандери 1, Львів" і обираємо будь-яку із запропонованих і тиснемо SEARCH.
                    </p>
                    <p>
                      <img src="{{ '/assets/address.png' | relative_url }}" alt="address">
                    </p>
                  </li>
                  <li>Після цього пункт ROAM стане активний, тиснемо на нього, далі CONTINUE TO CHECKOUT</li>
                  <li>
                    <p>Бачимо перед собою форму оформлення замовлення.</p>
                    <p>
                      <b>Інформацію вводимо виключно англійськими літерами!</b>
                    </p>
                    <p>
                      Якщо не впевнені в правописі імʼя або прізвища латиною - рекомендую перевірити транслітерацію на  <a target="_blank" href="https://dmsu.gov.ua/services/transliteration.html">сайті ДПСУ</a>
                    </p>
                    <p>Приклад першої половини форми</p>
                    <p>
                      <img src="{{ '/assets/form1.png' | relative_url }}" alt="form">
                    </p>
                  </li>
                  <li>
                    <p>У другій половині форми треба заповнити платіжну інформацію. <b style="color: red;">Наполегливо не рекомендую використовувати картку, яка використовується/використовувалась на інших старлінках.</b> </p>
                    <p>Приклад другої половини форми</p>
                    <p>
                      <img src="{{ '/assets/form2.png' | relative_url }}" alt="form">
                    </p>
                  </li>
                  <li>Коли все заповнено перевіряємо щоб DUE TODAY було 95$</li>
                  <li>Якщо все вірно - тиснемо PLACE ORDER</li>
                  <li>Підтверджуємо оплату в додатку банка</li>
                  <li>На наступній сторінці очікуємо доки зʼявиться кнопка SET PASSWORD, тиснемо на неї</li>
                  <li>Вигадуємо пароль до акаунту і вводимо його двічі</li>
                  <li>Вітаю! Ви успішно оформили темінал старлінк!</li>

                </ul>
              </li>
              <li>
                <h2>EXISTING ACCOUNT</h2>
              </li>
              
            
            </ul>

            <h3>Питання</h3>
            <p>Якщо у вас залишилися питання або потрібна допомога - можете звертатися до мене у телеграм <a target="_blank" href="https://t.me/i_chornyi">@i_chornyi</a> або у Signal, контакти якого ви зможете отримати у людини яка надала вам цю інструкцію.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  {%- include footer.html -%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
          integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
</body>

</html>
