<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body {% if site.darkmode == true and site.darkmode != 'never' %}class="dark"{% endif %}>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="container intro-container">
        <h3>Трансфер Starlink</h3>
        <div class="row clearfix">
          <div class="col-md-12">
            <p>
              Трансфер Starlink відбуваєтсья у два етапи: спочатку термінал має бути відв'язаний з акаунта власника, потім його треба оформити новому власнику.
              Перед початком трансферу треба впевнетися, що на акаунті поточного власника немає боргів інакше відв'язати термінал з акаунта буде неможливо.
              Необхідно перебувати в безпечному місці, мати резервний канал інтернету і мати можливість запустити термінал Starlink під відкритим небом. Процедура зазвичай займає до 30 хвилин часу.
            </p>
            <b>
              <p>Перед відвʼязкою терміналу обовʼязково треба записати ідентифікатори термінала! У випадку збою це буде єдиний доказ володіння!</p>
            </b>
            <h3>Відвʼязка терміналу Starlink з акаунта</h3>
            <ul>
              <li>Записуємо номер кіта, його можно знайти на коробці від терміналу або в акаунті до якого привʼязаний термінал Starlink у форматі KITXXXXXXXXX</li>
              <li>Записуємо серійний номер тарілки, він розташований на нижній частині мачти тарілки, виглядає приблизно SN: 2ABC000000000000</li>
              <li>Записуємо Terminal ID, його можна знайти підключившись до Wi-Fi Starlink який ви будете трансферити. Далі заходимо в додаток Starlink н телефоні, далі Settings -> Advanced -> в секції STARLINK записуємо цифри ID, які починаються з ut</li>
              <li>Заходимо в особистий кабінет <a target="_blank" href="https://starlink.com">starlink.com</a>, знаходимо старлінк який будемо відвʼязувати, жмем Manage</li>
              <li>Записуємо який у вас Service Type: RESIDENTIAL або RV</li>
              <li>
                <b>Знаходимо на сторінці номер кіта у форматі КІТХХХХХХХ і перевіряємо що він збігається з тим що ви записали раніше</b>
              </li>
              <li>Нажимаємо CANCEL SERVICE</li>
              <li>У списку причин обираємо Other, в коментарі пишемо transfer, знімаємо галочку з I would like to return my hardware і тиснемо CONFIRM</li>
              <li>Після попреднього пункту кнопка TRANSFER має стати активною, тиснемо на неї, зʼявиться вікно підтвердження, погоджуємося.</li>
              <li>Старлінк успішно відвʼязаний</li>
            </ul>
            <h3>Привʼязка терміналу Starlink до акаунту нового власника</h3>
            <p>Перед початком будь-ласка впевніться в наявності резервного каналу інтернету. Також у вас має бути банківська картка, яка оформлена на імʼя людини на яку буде оформлений термінал Starlink.</p>
            <ul>
              <li>
                Якщо ви привʼязуєте RESIDENTIAL то переходьте на <a target="_blank" href="https://starlink.com">starlink.com</a>, якщо RV то <a target="_blank" href="https://www.starlink.com/rv">starlink.com/rv</a>
              </li>
              <li>
                У полі вводу адреси:
                <ul>
                  <li>У випадку якщо ви оформлюєте RV можна вводити будь-яку адресу(україньскою мовою), рекомендовано вводити адресу поза зоною бойових дій на якій у випадку чого ви зможете запустити цей термінал.</li>
                  <li>У кожному варіанті оформлення після вводу адреси має зʼявитися список схожих доступних адрес, там треба обрати потрібну вам зі списку. У випадку, коли потрібна вам адреса відсутня - перевірте правильність введених вами даних.</li>
                  <li>
                    У випадку оформлення RESIDENTIAL на момент написання цієї інструкції є 2 варіанти оформлення:
                    <li>
                      <b>Швидкий але дорожчий, у випадку втрати терміналу швидко вимкнути його не вийде:</b> оформлюєте на адресу європейського складу Нової Пошти(щоб старлінк працював в Україні доведеться увімкнути Portability за додаткові гроші):
                      <ul>
                        <li>Mrštíkova 399/2a (Чехія)</li>
                        <li>ul. Karola Miarki 18 (Польша)</li>
                      </ul>
                    </li>
                    <li>
                      <b>Повільніший але дешевший, у випадку захвату терміналу його можна швидко відключити від інтернету:</b> треба знайти методом підбору адресу, на якій на думку Starlink є їх покриття. На момент написання цієї інструкції режим Portability для акаунтів в Україні є безкоштовним, саме цей режим дозволяє використовувати RESIDENTIAL у будь-якій локації.
                      <ul>
                        <li>Підбір адреси рекомендовано робити в браузері в режимі інкогніто, головні критерії це мабуть тільки віддаленість мінімум 50км від зони бойових дій, це можуть бути ТЦ, заправки, відділення Нової Пошти, будь-що.</li>
                        <li>Адресу треба вводити україніською або англійською мовою.</li>
                        <li>
                          Як зрозуміти що ви підібрали правильну адресу? Після натискання кнопки Order Now ви маєте побачити на сторінці напис <b>I already have my Starlink.</b> і можливість поставити галочку біля нього. 
                          <img src="{{ '/assets/order.png' | relative_url }}" alt="">
                        </li>
                      </ul>
                    </li>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

  {%- include footer.html -%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
          integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
</body>

</html>
